@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-slate-850: #151e2e;
  --color-slate-900: #0f172a;
  --color-slate-950: #020617;
}

body {
  @apply bg-slate-50 text-slate-600 dark:bg-slate-950 dark:text-slate-300 antialiased transition-colors duration-200;
}